* {
	padding: 0;
	margin: 0;
}

body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* div{
    border: 1px solid white;
} */

/* 
##################################### */

#container-table {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, sans-serif;
}

#indicadores {
	width: 80%;
	max-width: 600px;
	border-collapse: collapse;
}
td {
	border: 1px solid rgb(85, 71, 71);
	padding: 8px;
	text-align: right;
}

@media (max-width: 600px) {
	#indicadores {
		width: 100%;
	}
}

#img-arrows {
	transition: transform 0.3s ease;
}

#img-arrows:hover {
	cursor: pointer;
	transform: scale(1.1);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}
