*{
    padding: 0;
    margin: 0;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div{
    border: 1px solid white;
}



/* 
##################################### */

#container-table{
    height: 100vh;
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

#indicadores {
    width: 80%;
    max-width: 600px;
    border-collapse: collapse;
}
td {
    border: 1px solid rgb(16, 16, 16);
    padding: 8px;
    text-align:right;
}

@media (max-width: 600px) {
    #indicadores {
        width: 100%;
    }
}