* {
	padding: 0;
	margin: 0;
}

body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* div {
	border: 1px solid white;
} */

/* 
##################################### */
/* TABLA INDICADORES ECONOMICOS */
/* 
##################################### */
#container-table {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, sans-serif;
}

#indicadores {
	width: 80%;
	max-width: 600px;
	border-collapse: collapse;
}
td {
	border: 1px solid rgb(85, 71, 71);
	padding: 8px;
	text-align: right;
}

@media (max-width: 600px) {
	#indicadores {
		width: 100%;
	}
}

/* 
##################################### */
/*   C A L C U L A D O R A            */
/* 
##################################### */

/* #img-arrows {
	transition: transform 0.3s ease;
} */

/* #img-arrows:hover {
	cursor: pointer;
	transform: scale(1.1);
} */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
	-moz-appearance: textfield;
	transition: box-shadow 0.3s ease;
}

input:hover {
	box-shadow: 0 0 10px #9ecaed;
}

.input,
.p {
	font-family: Arial, sans-serif;
	font-size: 16px;
	color: #333;
	width: 200px;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box; 
	background-color: white
} 




/* Estilos para el tema oscuro */
@media (prefers-color-scheme: dark) {

	input,
	p {
		background-color: black;
		color: white;
		/* Añade aquí el resto de tus estilos para el tema oscuro */
	}
}
